.App {
	text-align: center;
	margin-top: 100px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.btn {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px;
}

.btn-red {
	background-color: #f44336;
	padding: 10px 20px;
}

.btn-green {
	position: relative;
	top: 200px;
	left: 0px;
	padding: 25px 50px;
	font-size: 2rem;
}

.btn-green:hover {
	transform: scale(2);
	transition-duration: 0.3s;
}
